.mentors-dashboard {
  padding-top: 10px;

}

.profile-mentor {
  font-size: 12px;
  background-color: $white;
  border-radius: 20px;
  border: solid 1px $indigo;
  padding: 6px 7px;
  text-decoration: none;
  color: $indigo;
  margin-right: 25px;
  &:hover {
   font-size: 12px;
   background-color: $indigo;
   color: $white;
  }
}

.remove-mentor {
  font-size: 12px;
  background-color: $white;
  border-radius: 20px;
  border: solid 1px $red;
  padding: 6px 7px;
  text-decoration: none;
  color: $red;
  &:hover {
    font-size: 12px;
    background-color: $red;
    color: $white;
  }
}

.links-mentor {
  margin-top: 10px;
}

.nav {
  width: 86%;
  margin: 50px auto;
  font-size: 18px;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
}

.nav-tabs .nav-link {
  color: black;
  font-size: 18px;
  &:hover {
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
  }
}

.nav-tabs .nav-link.active {
  font-weight: 500;
  background-color: $indigo;
  color: $light-indigo;
  border-top-left-radius: 10px 10px;
  font-size: 20px;
  border-top-right-radius: 10px 10px;
}

.project-nav {
  width: 80%;
  margin: 0 auto !important;
}


.name-city-dash {
  margin-left: 70px;
  h2 {
    color: $indigo;
  }
}


.container-photo-title-dashboard {
  width: 95%;
}

.mentor-name-card-dash {
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-weight: 600;
  justify-content: left;

}

.fa-xmark {
  color: #8d8a8a;
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
}

.name {
  color: black;
}

.list-chat {
  margin-left: 50px;
}
