// Specific CSS for your home-page

.bg-lightred {
  background-color: $light-red;
}
.bg-white {
  background-color: $white;
}
.pages-home {
  h2 {
    margin: 1.5em 0;
    font-weight: 700;
  }
  .main-content {
    height: 100%;
  }
}

.fa-beat {
  color: red;
}


$ani-speed: 2s;
$ani-delay: 1s;



.arrow {
    opacity: 0;
    position: absolute;
        left: 50%;
        top: 90%;
    transform-origin: 90% 90%;
    transform: translate3d(-90%, -90%, 0);
}

.arrow-first {
    animation: arrow-movement $ani-speed ease-in-out infinite;
}
.arrow-second {
    animation: arrow-movement $ani-speed $ani-delay ease-in-out infinite;
}

.arrow:before,
.arrow:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
        top: 90%;
        left: 50%;
    width: 30px;
}

.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}

// Animation
@keyframes arrow-movement {
    0% {
        opacity: 0;
        top: 85%;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.pages-home .main-container {
  padding-top: 0;
}
