// Specific CSS for your home-page

.bg-lightred {
  background-color: $light-red;
}

.bg-white {
  background-color: $white;
}

.pages-home {
  h2 {
    margin: 1.5em 0;
    font-weight: 700;
  }

  .main-content {
    height: 100%;
  }
}

.fa-beat {
  color: red;
}
