<div class="container m-5">

<h1 class="my-5">Find your mentor</h1>


<div class="user-cards-container">
  <% @users.each do |user| %>
    <div class="user-card-content">
      <div class="user-card-title">
        <p><%= user.first_name %> <%= user.last_name%></p>
        <p><%= user.title %></p>
        <%= link_to "See profile", user_path(user)%>
      </div>
     </div>
    <% end %>
</div>
</div>
