<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/HBecquembois/wagon-women-worldwide" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://twitter.com/hbecquembois" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://fr.linkedin.com/in/h%C3%A9l%C3%A8ne-becquembois-66592a118" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="3W-copyright">
    Wagon Women Worldwide®, un site fait avec <i class="fas fa-heart"></i> en partenariat avec <a href="https://www.lewagon.com/" target="_blank">Le Wagon.</a>
  </div>
</div>
