<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="3W-copyright">
    Wagon Women Worldwide®, un site fait avec <i class="fas fa-heart"></i> en partenariat avec <a href="https://www.lewagon.com/" >Le Wagon.</a>
  </div>
</div>
