<%= content_for(:navbar_class, "navbar-home") %>
<div class="banner">
  <div class="banner-content text-center">

    <h1>Wagon Women Worldwide</h1>
    <p>Connecting women</p>
  </div>
</div>

<div class="container">
  <h1>cards</h1>
</div>

<div class="container">
  <h1>the program</h1>
</div>
