<%= content_for(:navbar_class, "navbar-home") %>
<div class="banner">
  <div class="banner-content text-center">

    <h1>Wagon Women Worldwide</h1>
    <p>Connecting women</p>
  </div>
</div>

<div class="container-fluid">
  <h2 class="text-center mb-2">Join the program!</h2>
</div>

<div class="container-fluid bg-lightred p-3">
  <div class="container">
    <h2 class="text-center mb-2">Advantages of our mentoring program</h2>
    <div class="d-flex justify-content-between">
      <ul>
        <li>advantage 1</li>
        <li>advantage 2</li>
        <li>advantage 3</li>
        <li>advantage 4</li>
      </ul>
      <div>
        testimony-card
      </div>
    </div>
  </div>
</div>

