.badge {
  color: $indigo;
  font-size: 12px;
  padding: 6px 7px;
  border-radius: 10px;
  background: $light-indigo;
  transition: background 0.3s ease;
  text-decoration: none;
  font-weight: 600;
}

.card-graduation-unfavorited {
  background-color: $white;
  border: solid 1px $red;
  margin-right: 6px;
  border-radius: 50%;
  color: $red;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 7px;
  padding-top: 7px;
}

.card-graduation {
  background-color: $red;
  margin-right: 6px;
  border-radius: 50%;
  color: $white;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 7px;
  padding-top: 7px;
}

.batch-badge {
  background-color: #E60F05;
  color: white;
  width: fit-content;
  padding: 1px 5px;
  border-radius: 20px;
  font-size: 12px !important;
  position: absolute;
  top: -32px;
  right: 33px;
}
