.btn-indigo-index {
    color: $indigo;
    font-size: 12px;
    padding: 6px 7px;
    border-radius: 6px;
    background: $light-indigo;
    transition: background 0.3s ease;
    text-decoration: none;

    &:hover {
      color: $light-indigo;
      background: $indigo;
  }
}
