.btn-indigo-index {
  color: $light-red;
  font-size: 12px;
  padding: 3px 5px;
  border: 1px solid $indigo;
  border-radius: 6px;
  background: $indigo;
  transition: background 0.3s ease;
  text-decoration: none;
  &:hover {
    color: $indigo;
    background: $light-red;
  }
}
.btn-card-home {
  color: $white;
  font-size: 18px;
  font-weight: 600;
  padding: 6px 7px;
  border-radius: 6px;
  background: $red;
  transition: background 0.3s ease;
  text-decoration: none;
  &:hover {
    color: $red;
    background: $white;
  }
}
.btn-indigo-sidebar {
  color: $light-red;
  font-size: 16px;
  padding: 7px 9px;
  border: 1px solid $indigo;
  border-radius: 6px;
  background: $indigo;
  transition: background 0.3s ease;
  text-decoration: none;
  &:hover {
    color: $indigo;
    background: $light-red;
  }
}
.btn-red-profile {
  color: $white;
  display: block;
  font-size: 16px;
  padding: 8px 10px;
  border: solid 1px $red;
  border-radius: 10px;
  background: $red;
  transition: background 0.3s ease;
  text-decoration: none;
  margin-bottom: 20px;
  &:hover {
    color: $red;
    background: $white;
  }
}
.btn-indigo-projects {
  color: $indigo;
  font-size: 18px;
  padding: 6px 7px;
  border: solid 1px transparent;
  border-radius: 10px;
  background: transparent;
  transition: background 0.3s ease;
  text-decoration: none;
  &:hover {
    color: $light-indigo;
    background: white;
  }
}
.btn-red-modal {
  margin-top: 30px;
  color: $white;
  position: right;
  font-size: 16px;
  padding: 8px 10px;
  border: solid 1px transparent;
  border-radius: 10px;
  background: $red;
  transition: background 0.3s ease;
  text-decoration: none;
  &:hover {
    color: $red;
    background: $white;
  }
}
.btn-red-sidebar {
  width: 29%;
  font-size: 9px;
  padding: 1px 5px;
  border-radius: 40px;
  border: solid 1px $red;
  transition: background 0.3s ease;
  text-decoration: none;
  color: $red !important;
  &:hover {
    color: $white !important;
    width: 29%;
    font-size: 9px;
    padding: 1px 5px;
    border-radius: 40px;
    background: $red;
    transition: background 0.3s ease;
    text-decoration: none;
  }
}


.btn-btn-primary {
  color: $white;
  font-size: 16px;
  // padding: 7px 9px;
  border: 1px solid $red;
  background: $red;
  border-radius: 6px;
  &:hover {
    color: $red;
    background: $white;
  }
}

.btn-red-chatroom {
  height: 37px;
  width: 37px;
  color: $white;
  font-weight: bolder;
  padding: 6px 7px;
  border-radius: 50px;
  background: $red;
  transition: background 0.3s ease;
  text-decoration: none;
  &:hover {
    background: $white;
    .fa-paper-plane {
      color: red;
    }
  }
}

.btn-red-dashboard {
  color: $white;
  display: block;
  font-size: 16px;
  padding: 8px 10px;
  border: solid 1px $red;
  border-radius: 10px;
  background: $red;
  transition: background 0.3s ease;
  text-decoration: none;
  margin-bottom: 20px;
  &:hover {
    color: $red;
    background: $white;
  }
}



