.btn-indigo-index {
  color: $light-red;
  font-size: 12px;
  padding: 3px 5px;
  border: 1px solid $indigo;
  border-radius: 6px;
  background: $indigo;
  transition: background 0.3s ease;
  text-decoration: none;
  &:hover {
    color: $indigo;
    background: $light-red;
  }
}

.btn-card-home {
  color: $white;
  font-size: 18px;
  font-weight: 600;
  padding: 6px 7px;
  border-radius: 6px;
  background: $red;
  transition: background 0.3s ease;
  text-decoration: none;
  &:hover {
    color: $red;
    background: $white;
  }
}

.btn-indigo-sidebar {
  color: $light-red;
  font-size: 16px;
  padding: 7px 9px;
  border: 1px solid $indigo;
  border-radius: 6px;
  background: $indigo;
  transition: background 0.3s ease;
  text-decoration: none;
  &:hover {
    color: $indigo;
    background: $light-red;
  }
}


.btn-indigo-profile {
  color: $indigo;
  position: right;
  font-size: 14px;
  padding: 7px 8px;
  margin: 50px;
  border: solid 1px $light-indigo;
  border-radius: 10px;
  background: $light-indigo;
  transition: background 0.3s ease;
  text-decoration: none;

  &:hover {
    color: $light-indigo;
    background: $indigo;
  }
}

.btn-indigo-projects {
  color: $indigo;
  font-size: 18px;
  padding: 6px 7px;
  border: solid 1px transparent;
  border-radius: 10px;
  background: white;
  transition: background 0.3s ease;
  text-decoration: none;
  &:hover {
    color: $light-indigo;
    background: white;
  }
}

.btn-indigo-modal {
  color: $indigo;
  position: right;
  font-size: 16px;
  padding: 8px 10px;
  border: solid 1px $light-indigo;
  border-radius: 10px;
  background: $light-indigo;
  transition: background 0.3s ease;
  text-decoration: none;

  &:hover {
    color: $light-indigo;
    background: $indigo;
  }
}

.btn-btn-primary {

  color: $white;
  font-size: 16px;
  padding: 7px 9px;
  border: 1px solid $red;
  border-radius: 6px;
  background: $red;
  transition: background 0.3s ease;
  text-decoration: none;
  &:hover {
    color: $red;
    background: $white;
  }


}
