.user-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  img {
   height: 120px;
   width: 120px;
   object-fit: cover;
   }
 }

.user-card {
  display: flex;
  overflow: hidden;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.user-card-content {
  padding: 7px;
  width: 55%;
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  .competence {
    font-size: 10px;
  }
 }

.user-card-image {
  img {
    width: 160px;
    height: 160px;
    border-radius: 10px;
    margin: 10px;
  }
}
