.user-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  img {
    width: 71%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin: 19px 2px 20px 49px;
  }
  a {
    text-decoration: auto;
    color: black;
  }
}

.user-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  border-radius: 5px;
  position: relative;
  height: 95%;
  .show-more {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 65%;
    color: white;
    font-size: 2em;
    align-items: center;
    justify-content: center;

  }
  &:hover .show-more {
    display:flex;
  }
  &:hover {
   box-shadow: 5px 5px 5px rgba(104, 0, 250, .99);  }
}
.user-card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px 0px 18px 30px;
  h3 {
    font-size: 22px;
    font-weight: 600;
    flex-grow: 1;
  }
  p {
    font-size: 16px;
  }
  .competence {
    font-size: 10px;
  }
 }
.home-card {
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  span {
    text-decoration: none;
  }
}
.home-card-link {
  text-decoration: none;
}
.testimony-card {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 500px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  border-radius: 15px;
  .fa-solid {
    color: red
  }
}
.testimony-card-content {
  align-items: center;
  margin-top: 20px;
  width: 55%;
  h3 {
    font-size: 18px;
    font-weight: 600;
  }
  p {
    font-size: 15px;
  }
}
.testimony-text {
  font-style: italic;
}
.testimony-card-image {
  img {
    width: 160px;
    height: 80%;
    border-radius: 10px;
    margin: 20px;
  }
}
.card-container-profile {
  margin-top: 55px;
}
ul {
  list-style-type: none;
  line-height: 1.7em;
  font-size: 18px;
  .card-wand {
    color: $red;
    font-size: larger;
  }
  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: red;
    }
  }
}
.user-card-img-container {
  // position: relative;
  i {
    position: absolute;
    top: 11px;
    right: 31px;
  }
  &:hover {
    color: #4f5050e0;
 }
}
.card-modal {
  overflow: hidden;
  width: 80%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px $red;
  background: white;
}

.dashbojùoard-card {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 500px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  border-radius: 15px;
  .fa-solid {
    color: red
  }
  img {
    border-radius: 10px;
  }
}

.card-dashboard {
  padding: 7px;
  width: 76%;
  margin: 11px 12px 13px 143px;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.card-dashboard img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.card-dashboard h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.card-dashboard p {
  text-align: left;
  font-size: 17px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-dashboard .card-dashboard-infos {
  padding: 16px;
}
