.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  // .navbar-wagon-link {
  //   color: white;
  //   font-weight: bold;
  // }
}
.nav-link {
  color: $white;
  &:hover {
    color: $light-indigo;
  }
}

.general-icon {
  padding-left: 3px;
  padding-right: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  border-radius: 15px;
  background-color: $indigo;
  &:hover {
    background-color: $indigo;
  }
}
.adaicon {
  width: 50px;
  height: 50px;
  justify-content: center;
  background-image: image-url("Ada.jpg");
    background-size: cover;
  background-position: center;
}


.navbar-site {
  justify-content: space-between;
  background: $light-red;
  flex-grow: 0;
  .nav-link {
    color: $indigo;
    &:hover {
      color: $light-indigo;
    }
  }
}

.navbar-site .navbar-collapse {
  flex-grow: 0;
}

.navbar-site .navbar-brand img {
  width: 40px;
}
