.container-side {
  margin-left: 20px;
}

.sidebar {
  background-color: $light-red;
  height: 85vh;
  flex: 0 0 290px;
  width: 15%;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 60px;
  margin-bottom: 50px;
  text-align: center;

  .user-side-bar-image {
    position: relative;
    width: 100px;
    height: 100px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
    top: -50px;
  }

  h3 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: -46px;
  }
  ul {
    margin-top: 50px;
    list-style-type: none;
    font-size: 20px;
    text-align: left;
  }
  li {
    margin-top: 20px;
    color: black;
  }
  .button-center {
    text-align: center;
  }
  a {
    text-decoration: none;
    color: black;
  }

  .fa-arrow-right {
    color: $indigo;
    font-size: 15px;
  }
}

.sidebar-wand {
  background-color: $red;
  padding: 5px;
  margin-right: 6px;
  border-radius: 50%;
  color: $white !important;
}

.my-mentors {
  list-style-type: none;
  font-size: 14px;
  margin-top: 20px;
  margin-left: 15px;
}
