.card-profile {
  overflow: hidden;
  width: 80%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 0px grey;;
  background: white;
  ul {
    margin-left: 0px;
  }
}



.card-profile p {
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}



.container-photo-title {
  display: flex;


  .name-city {
    text-align: center;
  }
}

.user-photo {
  border-radius: 10px;
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.projects-card {
  padding: 10px;
  border-radius: 10px;
  ul {
    margin-left: -20px;
  }
}

.tag-list {
  display: inline;
  text-align: center;
  margin-right: 6px;
  padding: 1px 4px;
  color: $indigo;
  font-size: 14px;
  border: solid 1px $light-indigo;
  border-radius: 10px;
  background: $light-indigo;
  transition: background 0.3s ease;
  text-decoration: none;
}

.smaller-h3 {
  font-size: 20px;
}

.tags {
  margin-top: 10px;
  padding: 0;
  list-style-type: none;
}

.fa-lightbulb {
  color: $red;
}

.fa-computer {
  color: $indigo;
}

.project-list {
  padding: 0;
  list-style-type: none;
}

.cta {
  text-align: center;
}

.modal-content {
  width: 120%;
}

.modal-header {
  background-color: $light-red;
}

.modal-body {
  margin: 10px;
  p {
    line-height: 2;
  }
}

.modal-footer {
margin: 20px 0px;
text-align: center;
}

